.container {
  width: 52px;
  height: 28px;
  border: 2px solid rgb(80, 80, 113);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.icon {
  font-style: 7px;
}

.ball {
  width: 22px;
  height: 22px;
  background-color: rgb(80, 80, 113);
  border-radius: 50%;
  position: absolute;
}
