/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/blog/pages.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.pages_main__Container__NGnaS {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: auto;
}

.pages_container__WcT7R {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.125rem;
  margin-bottom: 3.125rem;
  padding: 0.625rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  height: 25rem;
}

.pages_img__Container__PzVPy {
  flex: 1 1;
  position: relative;
  height: 18.75rem;
  width: 18.75rem;
}

.pages_image___kIsi {
  object-fit: cover;
  border-radius: 0.625rem;
}
.pages_content__aoxMb {
  flex: 1 1;
}

.pages_title__zSFU_ {
  margin-bottom: 0.625rem;
}

.pages_desc__R61gK {
  font-size: 1.75em;
  color: var(--color-font);
}

/* ========= Media Query(Small Device, Phone) ==============*/
@media screen and (max-width: 700px) {
  .pages_container__WcT7R {
    gap: 1.25rem;
    margin-bottom: 1.25rem;
    height: 25rem;
    flex-direction: row-reverse;
    padding: 1.25rem;
  }

  .pages_img__Container__PzVPy {
    flex: 1 1;
    width: 80vw;
    position: relative;
  }
}

