/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/portfolio/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.page_main__Title__KleRi {
  font-size: 6.25em;
}

.page_container__ddMGI {
}

.page_select__Title__ZQtv7 {
  margin: 1.25rem 0rem;
}

.page_items__GL6at {
  display: flex;
  gap: 3.125rem;
  justify-content: start;
  align-items: center;
}

.page_item__nGPTM {
  width: 18.75rem;
  height: 25rem;
  position: relative;
  background-size: cover !important;
  color: inherit;
}

.page_title__ExBKC {
  position: absolute;
  color: white;
  right: 0.625rem;
  bottom: 0.625rem;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: var(--color-primary);
  border-radius: 0.625rem;
}

.page_item__nGPTM:hover .page_title__ExBKC {
  color: var(--color-primary-dark);
}

.page_img__V9moR {
  width: 100%;
  height: 18.75rem;
  position: relative;
  object-fit: cover;
  border-radius: 0.188rem;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.page_flipcard__BMoOl {
  background-color: inherit;
  width: 18.75rem;
  height: 25rem;
  perspective: 75rem; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.page_flipcard__inner__YP_KK {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.page_flipcard__BMoOl:hover .page_flipcard__inner__YP_KK {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.page_flipcard__front__VMlVV,
.page_flipcard__back__OjiOA {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 0.188rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-dark)
  );
}

.page_flipcard__front__VMlVV:hover {
  filter: blur(0.125rem);
}

/* Style the front side (fallback if image is missing) */
.page_flipcard__front__VMlVV {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.page_flipcard__back__OjiOA {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  color: white;
  transform: rotateY(180deg);
  padding: 0.7rem;
}

/* ========= Media Query(Small Device, Phone) ==============*/
@media screen and (max-width: 700px) {
  .page_main__Title__KleRi {
    font-size: 3.75em;
  }

  .page_items__GL6at {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    justify-content: start;
    align-items: center;
  }
}

