/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/dashboard/(auth)/register/page.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__gQav6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.page_form__4rCZY {
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.page_input__SdXg9 {
  padding: 1.25rem;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #bbb;
  font-weight: bold;
  font-size: 1.25em;
  color: inherit;
}

.page_button__4dbv1 {
  padding: 1.25rem;
  cursor: pointer;
  background-color: var(--color-primary);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 18.75rem;
  color: white;
}

.page_link__rIXkn {
  text-decoration: underline;
  color: #7d7c7c;
}

.page_link__rIXkn:hover {
  color: rgb(61, 61, 61);
}

