/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/contact/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.page_container__5YXRc {
}

.page_title__Q_S9Y {
  font-size: 3.75em;
  margin-bottom: 3.75rem;
  text-align: center;
}

.page_content__whaW4 {
  display: flex;
  align-items: center;
  gap: 6.25rem;
}

.page_img__Container__Vz8wp {
  flex: 1 1;
  height: 31.25rem;
  position: relative;
}

.page_image__1JO_G {
  object-fit: contain;
  animation: page_move__zJ8HC 3s infinite ease alternate;
}

@keyframes page_move__zJ8HC {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}

.page_form__arM1T {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.page_input__4_GuJ,
.page_textArea__9dygu {
  padding: 1.25rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-font);
  border: 3px solid rgb(80, 80, 113);
  border-radius: 0.625rem;
  font-size: 1.25em;
  font-weight: bold;
}

.page_button__zgLyj {
  padding: 1.125rem;
  cursor: pointer;
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.313rem;
  width: max-content;
  color: white;
}

/* ========= Media Query(Small Device, Phone) ==============*/
@media screen and (max-width: 700px) {
  .page_title__Q_S9Y {
    margin-top: 0.625rem;
    font-size: 1.875rem;
    margin-bottom: 0.625rem;
    text-align: center;
  }

  .page_container__5YXRc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page_img__Container__Vz8wp {
    height: 12.5rem;
    width: 12.5rem;
  }

  .page_content__whaW4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    height: 90vh;
  }

  .page_input__4_GuJ,
  .page_textArea__9dygu {
    padding: 0.625rem;
    width: 90vw;
  }
}

