/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_container__aoG4z {
  display: flex;
  align-items: center;
  gap: 6.25rem;
}

.page_item__z7Kdy {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.page_title__3jonF {
  font-size: 3.125em;
  /* background: linear-gradient(to right, rgb(80, 80, 113), #02587a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  animation: page_typing__f5mUj 2s steps(40, end), page_blink-caret__vhuRV 0.75s step-end infinite;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.07em solid slateblue; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
}

.page_desc__5JXkv {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 2.5rem;
}

.page_buttons__qe66w {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.page_button__vnlhW {
  padding: 1.125rem;
  cursor: pointer;
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.313rem;
  width: max-content;
  color: white;
}

.page_image__NPJyO {
  width: 100%;
  height: 31.25rem;
  object-fit: cover;
  animation: page_move__rXy9C 3s infinite ease alternate;
  border: 3px dotted rgb(80, 80, 113);
  border-radius: 1.25rem;
}

@keyframes page_move__rXy9C {
  from {
    transform: translateY(-27px);
  }
  to {
    transform: translateY(17px);
  }
}

/* The typing effect */
@keyframes page_typing__f5mUj {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes page_blink-caret__vhuRV {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: slateblue;
  }
}

/* ========= Media Query(Medium Device, Tablet) ==============*/
@media screen and (max-width: 1100px) {
  .page_container__aoG4z {
    flex-direction: column-reverse;
    gap: 1.875rem;
  }

  .page_item__z7Kdy {
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
  }

  .page_title__3jonF {
    font-size: 1.875em;
    /* background: linear-gradient(to right, rgb(80, 80, 113), #02587a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    animation: page_typing__f5mUj 2s steps(40, end), page_blink-caret__vhuRV 0.75s step-end infinite;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.07em solid slateblue; /* The typwriter cursor */
    white-space: wrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.1em; /* Adjust as needed */
    text-align: center;
  }

  .page_desc__5JXkv {
    font-size: 1.063em;
    font-weight: 300;
    line-height: 2.5rem;
  }

  .page_image__NPJyO {
    width: 90vw;
    height: 50vh;
  }
}

/* ========= Media Query(Small Device, Phone) ==============*/
@media screen and (max-width: 700px) {
  .page_container__aoG4z {
    flex-direction: column-reverse;
    gap: 1.875rem;
  }

  .page_item__z7Kdy {
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
  }

  .page_title__3jonF {
    font-size: 1.563em;
    /* background: linear-gradient(to right, rgb(80, 80, 113), #02587a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    animation: page_typing__f5mUj 2s steps(40, end), page_blink-caret__vhuRV 0.75s step-end infinite;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.07em solid slateblue; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.1em; /* Adjust as needed */
    text-align: center;
  }

  .page_desc__5JXkv {
    font-size: 0.938em;
    font-weight: 300;
    line-height: 1.25rem;
    text-align: center;
  }

  .page_image__NPJyO {
    width: 90vw;
    height: 30vh;
  }
}

