.container {
}

.cat__Title {
  color: inherit;
}

.item {
  display: flex;
  gap: 6.25rem;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  border-radius: 0.625rem;
  padding: 1.25rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
}

.item:nth-child(2n) {
  flex-direction: row-reverse;
}

.img__Container {
  flex: 1;
  height: 25rem;
  width: 31.25rem;
  position: relative;
}

.title__Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.image {
  object-fit: contain;
}

.image:hover {
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
}

.title {
  font-size: 2.188rem;
}

.desc {
  font-size: 1.25rem;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.06);
  }
}

/* ========= Media Query(Small Device, Phone) ==============*/
@media screen and (max-width: 700px) {
  .item {
    flex-direction: column-reverse;
    padding: 0.625rem;
    gap: 0.625rem;
    height: 25rem;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
  }

  .item:nth-child(2n) {
    flex-direction: column-reverse;
  }

  .img__Container {
    flex: 2;
    height: 18.75rem;
    width: 18.75rem;
  }

  .content {
    gap: 0.625rem;
  }

  .title {
    font-size: 1.563em;
  }

  .desc {
    font-size: 0.938em;
  }
}
